html {
  font-size: 100%;
  background-color: #FEFEFE;
}
/* #mapSurface {
  width: 100%;
  height: 400px;
  border: solid 1px black;
} */
section,
iframe,
div {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FEFEFE;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  overflow-x: hidden;
  
 
}
.fullscreen-image-slider .orbit-image {
  width: 100%;
  height: 43vh;
}
.buscet {
  display: inline-block;
  height: 50px;

}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap'); */



@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff');

  font-weight: 400;
  font-display: swap;
  font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.woff');
  
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    }
    @font-face {
      font-family: 'Montserrat';
      src: url('/fonts/Montserrat-SemiBold.woff');
    
      font-weight: 600;
      font-display: swap;
      font-style: normal;
      }     
/* *************************************** */
.f{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* align-self: center; */
}
.grey1rem {
  /* font-family: 'Montserrat'; */
  /* color: #191D27; */
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
.grey2rem {
  /* font-family: 'Montserrat'; */
  color: #191D27;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.4;
}
.grey3rem {
  /* font-family: 'Montserrat'; */
  color: #191D27;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;
}
.grey4rem {
  /* font-family: 'Montserrat'; */
  color: #191D27;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
}
.grey6rem{
  font-family: 'Montserrat';
  color: #191D27;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.1;
}
/* .grey5rem {
  font-family: 'Montserrat';
   color: #191D27; 
  color: black;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.1;

}
 */
.grey5rem {
   font-family: 'Montserrat'; 
  color: #191D27;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.1;

}

/* ********************************************************** */
.yellow {
  color: #f9ce00;
}
.maroon {
  color: maroon;
}
.df {
  display: flex;
  align-items: flex-end;
}

.blue {
  color: rgb(126, 154, 216);
}
.headertext {
  color: rgb(66, 65, 65);
  font-weight: 300;
  font-size: 5rem;
  /* line-height: 1;*/
}


img {
  width: 100%;
  
}


 a:hover {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.lightgray {
  color: lightgray;
}

.whitesmoke {
  /* background:#303441;*/
  color: whitesmoke;
  text-decoration: none;
  text-decoration-line: none;
  list-style-type: none;
}
.grey {
  font-family: "Montserrat", sans-serif;
  color: grey;
  /* color: lightgrey; */
}

.roll {
  position: relative;
  display: inline-block;
}
.rollover {
  position: absolute;
  top: 0;
  left: 0;
}
.roll .rollover {
  display: none;
}
.roll:hover .rollover {
  display: block;
}
hr {
  border-top: 0px solid #e4e7e9;
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer {
 background-color: rgba(8, 32, 46, 0.93);
  /* background-color: #08202E; */
  padding-top: 30px;
  color: #636e74;
  font-weight: 300;
  font-size: 1rem;
}


.footer-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
}
.footer-widget {
  font-size: 0.85rem;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  padding-bottom: 0px;
  line-height: 0.7;
}

.tiny-footer {
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 600;
  background-color: transparent;
  border-top: 0px solid #636e74;
  color: #888d90;
  line-height: 1;
}

.mlwh {
  color: gray;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 5px;
}
.w200 {
  border: 0px solid transparent;
  height: auto;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: rgba(0, 93, 108);
}
.w300 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  box-align: center;
}
.w400 {
  border: 0px solid transparent;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.black {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
}
.dummy {
  height: 1rem;
}
.dummy08 {
  height: 4rem;
}
.dummy02 {
  height: 2rem;
}
ul li {
  /* background: #263846; */
  text-decoration: none;
  list-style-type: none;
  margin-left: 0;
}
ul.menu {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: baseline;
  flex-wrap: wrap;
  z-index: 1;
  text-decoration: none;
}
li.menu-text {
  /* background: #263846; */
  color: whitesmoke;
  text-decoration: none;
}

.whitesmoke {
  color: whitesmoke;
}

.blue {
  color: #263846;
}
.waterblue {
  background: cadetblue;
}

.myframegmap {
  border: 1px solid #f6f5f0;
  border-radius: 2px;
  height: 150px;
  width: 100%;
  box-shadow: 0px 0px 0px 0px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.fullscreen-image-slider .orbit-image {
  width: 100%;
  height: 33vh;
}
.clc {
  height: auto;
  background-color: #05445c;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #191D27;
}
p, li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #191D27;

}
a {
  color: maroon;
}
a:hover {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.green{
  background-color: #3adb76;
}
.bound{
  border: 1px solid #636e74;
}
.grey {
  color: grey;
}
.bl {
  color: grey;
}
.fl {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.flaround {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
}
.cs209 {
  height: 184px;
}
.cs120 {
  height: 80px;
  width: 100px;
}
.shadow {
  -webkit-box-shadow: 0px 5px 10px -2px rgba(104, 104, 104, 1);
  -moz-box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 1);
  box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 1);
}

@media (max-width: 1000px) {
  iframe {
    width: 600px;
    height: 300px;
  }
  .top-bar-left {
    font-size: 1.2rem;
  }
}
@media (max-width: 640px) {
  .mlwh {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  iframe {
    width: 200px;
    height: 150px;
  }
}
@media (max-width: 600px) {
  .top-bar-left {
    font-size: 1rem;
  }
  
}

@media (max-width: 600px) {
  .logotext {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    text-align: center;
  }
 
}
.iframedflex {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.anim01 {
  animation-name: move;
  animation-duration: 3s;
  -webkit-animation: move 3s;
  -o-animation: move 3s;
  animation: move 3s;
}


.mtp {
  margin-top: 30px;
}
.mtmb {
  box-sizing: content-box;
  margin-top: 1px;
  margin-bottom: 1px;
}

.sublogotext {
  display: inline-block;
  position: absolute;

  top: 0%;
  left: 0%;

  /* Оформление текста */
  color: #263846;
  font-family: "Montserrat", sans-serif;

  /* Фон */
}

.white {
  background: #f4f3f4;
}

.pink {
  color: maroon;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.v {
  color: #e6f4f3;
}
.greybackground {
  background: #eaeaea;
}

.socialmap {
  padding-top: 0.4rem;
  /* background-color: #08202E; */
  background-color: rgba(8, 32, 46, 0.93);
}
.social {
  background-color: rgba(8, 32, 46, 0.93);
  /* background-color: #08202E; */
    /* border-top: 1px solid #636e74; */
    border-bottom: 0px solid #636e74;
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  color: #636e74;
  /* font-weight: 300;
  font-size: 1rem; */
}

.form {
  padding: 4rem 5rem;
  text-align: center;
}

.main-form {
  margin-bottom: 0;
  padding-bottom: 0;
}
.main-form-header {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
/* input {
  display: block;
  border: 1px solid maroon;
  width: 100%;
  padding: 1.5rem;
  margin: 2rem 0;
} */

/* .main {
  height: 800px;
  background: url(../images/girl2000.jpg) center center no-repeat;
  background-size: cover;
} */

.hhrr {
  border-bottom: 1px solid lightgray;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.lightgraybackground {
  background: lightgray;
}


#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  right: 10px;  
  overflow: hidden;
  width: 52px;
  height: 52px;
  border: none;
  text-indent: 100%;
  background: url(../img/up.png) no-repeat 0px 0px;

}

